*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(15, 15, 15);
    overflow: hidden;
}

#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    /* background: #beec40d2; */
}