*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background: black;
    overflow: hidden;
}

#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #b3a8a8; */
}